*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tech-btn {
    background: rgba(255, 208, 0, 0.1);
    color: #bc8926;
    border-top: 2px solid #bc89264d;
    border-bottom: 2px solid #bc89264d;
    border-left: 0;
    border-right: 0;
    border-radius: 5px 20px 5px 20px;
    padding: 12px 30px;
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.tech-btn:hover {
    color: #bc8926;
    background: rgba(188, 137, 38, 0.5);
    box-shadow: 0 0 5px #bc8926, 0 0 5px #bc8926, 0 0 10px #bc8926;
}

.tech-btn:active {
    color: #bc8926;
    background: rgba(188, 137, 38, 0.8);
    box-shadow: 0 0 5px #bc8926, 0 0 5px #bc8926, 0 0 10px #bc8926;
}

.icon {
    margin-right: 10px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.labelForm{
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    color: black;
    background-color: #bc8926;
    padding: 0 8px 0 8px;
    border-radius: 5px 20px 5px 20px;
    margin-bottom: -10px;
    margin-left: 40px;
    z-index: 1;
}

.inputForm{
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #f6c874c1;
    background-color: black;
    padding: 15px 15px 10px 45px;
    border-radius: 5px 20px 5px 20px;
    border: #bc8926 2px solid;
    width: 100%;
}

.inputForm:hover{
    outline: none;
    border-color: #bc8926;
    box-shadow: 0 0 10px #bc8926;
}

.inputForm:focus{
    outline: none;
    border-color: #bc8926;
    box-shadow: 0 0 10px #bc8926;
}

.iconForm {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    color: #bc8926;
    position: absolute;
    top: 12px;
    left: 15px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.inputIcon{
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.modalError{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 2;
}

.iconAttention {
    margin-right: 10px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 60px;
    color: #bc8926;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.modalError p{
    color: #bc8926;
}

body{
    background-image:url("../assets/img/wallpaper.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: "Bruno Ace SC", sans-serif;
    overflow: hidden;
}

/* Login Style: START */

main {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}